<!DOCTYPE html>
<html>
  <head>
    <title>Wardrobe Options</title>
   <style>
    .container {
  max-width: 600px;
  margin-top: 100px;
  padding: 20px;
}

 body {
      font-family: Arial, sans-serif;
      background-color: #F5F5F5;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('https://st.depositphotos.com/1144687/1970/i/600/depositphotos_19701355-stock-photo-two-ceiling-lamp.jpg') no-repeat;
      background-size: cover;
      font-family: Arial, sans-serif;
      background-color: #F5F5F5;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh; /* Added to make the content occupy at least the full viewport height */
      background: url('https://st3.depositphotos.com/2605379/17251/i/1600/depositphotos_172511452-stock-photo-white-brick-interior-with-empty.jpg') no-repeat;
      background-size: cover;

    }

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  margin-left: 28px;
  text-shadow: 2px 4px 5px grey;
  margin-top: 120px;
  
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options a {
  display: block;
  margin: 20px;
  margin-bottom: 20px;
  padding: 40px 60px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 25px;
   text-shadow: 2px 4px 5px grey;
   background-color: rgb(243, 243, 239);
}

.options a:hover {
  background-color: #f0f0f0;
}

.option{
   display: flex;
  justify-content: center;
  align-items: center;

}

.option a{
  display: block;
  margin: 20px;
  margin-bottom: 20px;
  padding: 30px 50px;
  border: 1px solid grey;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  font-size: 22px;
   text-shadow: 2px 4px 5px grey;
   background-color: rgb(243, 243, 239);
   
}

.option a:hover {
  background-color: #f0f0f0;
}
   </style>
  </head>
  <body>
   
    <div class="options-container">
       <h1>Wardrobe Options</h1>
        <div class="options">
        <a href="/upload" class="button">Create Wardrobe</a>
        <a href="/vw" class="button">View wardrobe</a>
      </div>
    </div>
  </body>
</html>