<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Location Information</title>
  <style>
    
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .location-details {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .location-icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <h1>Location Information</h1>
  <div class="location-details">
    <img class="location-icon" src="/public/location-icon.jpg" alt="Location Icon">
    <p>Address: 123 Main Street, New York, NY 10001, USA</p>
  </div>
  <div class="location-details">
    <img class="location-icon" src="/public/location-icon.jpg" alt="Phone Icon">
    <p>Phone: +7022025627</p>
  </div>
  <div class="location-details">
    <img class="location-icon" src="/public/email-icon.png" alt="Email Icon">
    <p>Email: wo123@gmail.com</p>
  </div>
  <div class="location-details">
    <img class="location-icon" src="/public/website-icon.png" alt="Website Icon">
    <p>Website: <a href=
"https://www.penny-bennett.com ">Virtual Wardrobe</a></p>
  </div>
</body>
</html>